body {
    margin:0;
    background-color:#94DAFF;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

#Banner img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#Login {
    background-color:#B983FF;
    width: 69%;
    margin-top: 0;
    margin-bottom: 0;
}

#Login p{
    font-size: 30px;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

nav {
    background-color:#94B3FD;
    margin-top:-18px;
    margin-bottom:-15px;
}

    nav ul {
        text-align: right;
        align-items: flex-end;
        text-decoration: none;
        align-content: flex-end;
        margin-top: 0;
        margin-bottom: 0;
    }

main {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

content{
    width:100%;
    margin:0;
}

content h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

    content p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
    }

#izq{
    width:50%;
    margin:0;
}
#izq p{
  font-family:'Times New Roman', Times, serif;
  font-size:25px;
}
#der{
    width: 50%;
    margin:0;
}
#der img{
    width:100%;
}

footer {
    background-color: #99FEFF;
    width: 100%;
    height: 2em;
    margin-top: 0;
}

    footer p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: black;
        text-align: right;
        text-decoration:dotted;
        margin: 0;
        padding: 0;
    }